
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src=<%= asset_path "Agriculture.png" %> style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h3 class="title">Il lavoro e la produzione aumenta e i guadagni si abbassano?</h3>
         
        </div>
      </div>
    </div>
    <div class="item">
      <img src=<%= asset_path "pensare5.jpg" %> class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="title">Pensi a come crescere una pianta sana e forte? </h1>
          
        </div>
      </div>
    </div>
    <div class="item">
      <img src=<%= asset_path "Statistiche.jpg" %> class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="title">Chiedi ad esperti il loro parere </h1>
          
          <p><a class="btn btn-large btn-default" href=<%= new_user_registration_path %>>Registrati</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src=<%= asset_path "prezzi-mercato.jpg" %>>
   <h2 class="featurette-heading"> <span class="text-primary">Più trasparenza nei prezzi</span></h2>
    <p class="lead">Vuoi essere sempre aggiornato sui prezzi dei principali mercati ittici e  ortofrutticoli Italiani? </p>
    <p><a class="btn btn-large btn-primary" href=<%= new_user_registration_path %>>Registrati</a></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src=<%= asset_path "patto.jpg" %>>
    <h2 class="featurette-heading"> <span class="text-warning">Cerchi un nuovo acquirente?</span></h2>
    <p class="lead">Stanco di lavorare molto per poi ricavare poco? Scegli un nuovo commerciante </p>
    <p><a class="btn btn-large btn-primary" href= <%= new_user_registration_path %> >Registrati</a></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src=<%= asset_path "team.jpg" %>>
    <h2 class="featurette-heading"><span class="text-muted">Fatti consigliare da esperti!!</span></h2>
    <p >
        Vuoi conoscere i segreti di come crescere una pianta sana, forte con buon e tanto frutto?
</p> 
    <br>
    <strong> Un team di oltre 1000 esperti, agronomi, biologi, geologi è pronto a consigliarti per ridurre al minimo il rischio di perdita e aumentare i tuoi guadagni </strong> 
    <p><a class="btn btn-large btn-primary" href=<%= new_user_registration_path %>>Registrati</a></p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
  
  </footer>

</div><!-- /.container -->